<div class="banner">

  <div class="container">

    <div class="slider-container">

      <div class="slider-item">

        <img src="./assets/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

        <div class="banner-content">

          <p class="banner-subtitle">Write Human</p>

          <h2 class="banner-title">Kamu Santai, Aku Yang Kerjain</h2>

          <a href="https://wa.me/6285880320980" class="banner-btn" target="_blank">Pesan Jasa Sekarang</a>

        </div>

      </div>

    </div>

  </div>

</div>
