<div class="product-box">

  <!--
    - PRODUCT MINIMAL (SERVICES LIST)
  -->

  <div class="product-minimal">

    <div class="product-showcase">

      <h2 class="title">Daftar Layanan Lengkap</h2>

      <div class="showcase-wrapper">

        <div class="showcase-container">

          <div class="showcase">
            <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/bag.svg" alt="jasa skripsi" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Skripsi</h4>
              </a>
              <a href="#" class="showcase-category">Varian Harga PerBAB - Full Skripsi</a>
              <div class="price-box">
                <p class="price">Mulai 150rb </p>
              </div>
            </div>
          </div>

          <div class="showcase">
            <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/coat.svg" alt="jasa jurnal" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Jurnal</h4>
              </a>
              <a href="#" class="showcase-category">Sinta & Internasional</a>
              <div class="price-box">
                <p class="price">Hubungi Admin</p>
              </div>
            </div>
          </div>

          <div class="showcase">
            <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/glasses.svg" alt="jasa parafase" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Parafase</h4>
              </a>
              <a href="#" class="showcase-category">Lolos Turnitin</a>
              <div class="price-box">
                <p class="price">Mulai 5rb/hal</p>
              </div>
            </div>
          </div>

          <div class="showcase">
             <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/shorts.svg" alt="jasa ketik" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Ketik</h4>
              </a>
              <a href="#" class="showcase-category">Dokumen & Tugas</a>
              <div class="price-box">
                <p class="price">Mulai 2rb/hal</p>
              </div>
            </div>
          </div>
          
           <div class="showcase">
             <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/tee.svg" alt="jasa desain" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Desain</h4>
              </a>
              <a href="#" class="showcase-category">PPT & Poster</a>
              <div class="price-box">
                <p class="price">Mulai 50rb</p>
              </div>
            </div>
          </div>

           <div class="showcase">
             <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/jacket.svg" alt="makalah" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Makalah</h4>
              </a>
              <a href="#" class="showcase-category">Sekolah & Kuliah</a>
              <div class="price-box">
                <p class="price">Mulai 50rb</p>
              </div>
            </div>
          </div>

          <div class="showcase">
             <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/watch.svg" alt="cek turnitin" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Cek Turnitin</h4>
              </a>
              <a href="#" class="showcase-category">No Repository</a>
              <div class="price-box">
                <p class="price">5 Ribu</p>
              </div>
            </div>
          </div>

          <div class="showcase">
             <a href="#" class="showcase-img-box">
              <img src="./assets/images/icons/hat.svg" alt="jasa editing" width="70" class="showcase-img">
            </a>
            <div class="showcase-content">
              <a href="#">
                <h4 class="showcase-title">Jasa Editing</h4>
              </a>
              <a href="#" class="showcase-category">Video & Foto</a>
              <div class="price-box">
                <p class="price">Mulai 50rb</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
