<div class="sidebar  has-scrollbar" data-mobile-menu>

  <div class="sidebar-category">

    <div class="sidebar-top">
      <h2 class="sidebar-title">Kategori Jasa</h2>

      <button class="sidebar-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <ul class="sidebar-menu-category-list">

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Skripsi</p>
          </div>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>

        <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Pembuatan Bab 1-3</p>
              <data value="50" class="stock" title="Available Stock">50</data>
            </a>
          </li>
           <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Full Skripsi</p>
              <data value="50" class="stock" title="Available Stock">20</data>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Jurnal</p>
          </div>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>

        <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Jurnal Sinta</p>
            </a>
          </li>
           <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Jurnal Internasional</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Parafase</p>
          </div>
          
          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
         <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Parafase Turnitin</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Ketik</p>
          </div>

           <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
        <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Ketik Dokumen</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Desain</p>
          </div>

           <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
         <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Desain PPT</p>
            </a>
          </li>
           <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Desain Poster</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Makalah</p>
          </div>

           <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
         <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Makalah Sekolah</p>
            </a>
          </li>
           <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Makalah Kuliah</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Jasa Editing</p>
          </div>
          
           <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
         <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Edit Video</p>
            </a>
          </li>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Edit Foto</p>
            </a>
          </li>
        </ul>

      </li>

      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <p class="menu-title">Cek Turnitin</p>
          </div>
          
           <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>
        
         <ul class="sidebar-submenu-category-list" data-accordion>
          <li class="sidebar-submenu-category">
            <a href="#" class="sidebar-submenu-title">
              <p class="product-name">Cek Plagiasi</p>
            </a>
          </li>
        </ul>

      </li>

    </ul>

  </div>

  <div class="product-showcase">

    <h3 class="showcase-heading">Layanan Terlaris</h3>

    <div class="showcase-wrapper">

      <div class="showcase-container">

        <div class="showcase">

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">Jasa Skripsi Full</h4>
            </a>

            <div class="showcase-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>

            <div class="price-box">
              <p class="price">Mulai 1jt-an</p>
            </div>

          </div>

        </div>

        <div class="showcase">
        
          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">Cek Turnitin Cepat</h4>
            </a>
            <div class="showcase-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
            </div>

             <div class="price-box">
              <p class="price">5 Ribu</p>
            </div>

          </div>

        </div>

        <div class="showcase">

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">Joki Tugas Harian</h4>
            </a>
            <div class="showcase-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
            </div>

            <div class="price-box">
              <p class="price">Mulai 50rb</p>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
