
/*-----------------------------------*\
  #PRODUCT MINIMAL
\*-----------------------------------*/

.product-minimal { margin-bottom: 30px; }

.product-minimal .product-showcase { margin-bottom: 10px; }

.product-minimal .showcase-wrapper {
  /* display: flex; */
  /* align-items: center; */
  /* overflow-x: auto; */
  /* overscroll-behavior-inline: contain; */
  /* scroll-snap-type: inline mandatory; */
  display: block; /* Vertical list */
}

.product-minimal .showcase-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column for mobile to prevent overflow */
  gap: 20px;
  width: 100%;
  padding: 0;
}

.product-minimal .showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--cultured);
  padding: 20px; /* Increased padding */
  border-radius: var(--border-radius-md);
}

/* .product-minimal .showcase:not(:last-child) { margin-bottom: 15px; }  Removed for grid gap */

.product-minimal .showcase-content { width: calc(100% - 85px); }

.product-minimal .showcase-title {
  color: var(--eerie-black);
  font-size: var(--fs-5); /* Increased font size */
  font-weight: var(--weight-600);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.product-minimal .showcase-category {
  width: max-content;
  color: var(--davys-gray);
  font-size: var(--fs-8);
  text-transform: capitalize;
  margin-bottom: 3px;
}

.product-minimal .showcase-category:hover { color: var(--salmon-pink); }

.product-minimal .price-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-minimal .price {
  font-size: var(--fs-7);
  font-weight: var(--weight-700);
  color: var(--salmon-pink);
}

.product-minimal .price-box del {
  font-size: var(--fs-9);
  color: var(--sonic-silver);
}





/*-----------------------------------*\
  #PRODUCT FEATURED
\*-----------------------------------*/

.product-featured { margin-bottom: 30px; }

.product-featured .showcase-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.product-featured .showcase-container {
  min-width: 100%;
  padding: 30px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}

.product-featured .showcase-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-featured .showcase-content { margin-top: 30px; }

.product-featured .showcase-rating {
  color: var(--sandy-brown);
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.product-featured .showcase-title {
  font-size: var(--fs-7);
  color: var(--eerie-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.product-featured .showcase-desc {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  font-weight: var(--weight-300);
  margin-bottom: 10px;
}

.product-featured .price-box {
  font-size: var(--fs-3);
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.product-featured .price {
  color: var(--salmon-pink);
  font-weight: var(--weight-700);
}

.product-featured del {
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
}

.product-featured .add-cart-btn {
  background: var(--salmon-pink);
  padding: 8px 15px;
  color: var(--white);
  font-weight: var(--fs-9);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  border-radius: var(--border-radius-md);
  margin-bottom: 15px;
  transition: var(--transition-timing);
}

.product-featured .add-cart-btn:hover {
  background: var(--eerie-black);
  color: var(--white);
}

.product-featured .showcase-status { margin-bottom: 15px; }

.product-featured .showcase-status .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--eerie-black);
  font-size: var(--fs-9);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-featured .showcase-status-bar {
  background: var(--cultured);
  position: relative;
  height: 10px;
  border-radius: 5px;
}

.product-featured .showcase-status-bar::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  height: 4px;
  width: 40%;
  background: var(--salmon-pink);
  border-radius: 4px;
}

.product-featured .countdown-desc {
  color: var(--eerie-black);
  font-size: var(--fs-9);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-featured .countdown {
  display: flex;
  gap: 5px;
}

.product-featured .countdown-content {
  padding: 5px;
  background: var(--cultured);
  border-radius: var(--border-radius-md);
  text-align: center;
}

.product-featured .display-number {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-500);
  min-width: 40px;
}

.product-featured .display-text {
  color: var(--davys-gray);
  font-size: var(--fs-11);
}





/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main { margin-bottom: 30px; }

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.product-grid .showcase {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.product-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover { opacity: 1; }

.product-grid .showcase:hover .product-img.default { opacity: 0; }

.product-grid .showcase:hover .product-img { transform: scale(1.1); }

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black { background: var(--eerie-black); }

.product-grid .showcase-badge.pink { background: var(--salmon-pink); }

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}

.product-grid .showcase:hover .showcase-actions { transform: translateX(0); }

.product-grid .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.product-grid .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.product-grid .showcase-content { padding: 15px 20px 0; }

.product-grid .showcase-category {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-grid .showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover { color: var(--eerie-black); }

.product-grid .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.product-grid .price { font-weight: var(--weight-700); }

.product-grid del { color: var(--sonic-silver); }
